<div class='container'>

    <div>
      <h1>Follow Users</h1>
      <% if @user.following_user.where.not(id: current_user.id).empty? %>
        <span>ユーザーはいません</span>
      <% else %>
      <table class='table'>
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @user.following_user.where.not(id: current_user.id).each do |user| %>
          <tr>
            <td><%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no-image-icon.jpg", size: "50x50" %></td>
            <td><%= user.name %></td>
            <td><%= "フォロー数: #{user.follower.count}" %></td>
            <td><%= "フォロワー数: #{user.followed.count}" %></td>
            <td><%= link_to 'Show', user_path(user), class: "user_#{user.id}" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
    </div>

</div>